@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300);
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.grid {
  border: 1px dashed rgba(120, 120, 120, 0); }

.grid:after {
  clear: both;
  display: table;
  content: ""; }

.module {
  margin: 5px;
  border: 1px dashed rgba(120, 120, 120, 0); }
  .module img {
    max-width: 100%; }

[class*='col'] {
  display: inline-block;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px dashed rgba(120, 120, 120, 0); }
  [class*='col'] img {
    width: 100% !important; }

.col1-1 {
  width: 100%; }

.col1-2 {
  width: 50%; }
  @media (min-width: 731px) and (max-width: 1024px) {
    .col1-2 {
      width: 100%; } }
  @media (min-width: 320px) and (max-width: 730px) {
    .col1-2 {
      width: 100%; } }

.col1-3 {
  width: 33.333%; }
  @media (min-width: 731px) and (max-width: 1024px) {
    .col1-3 {
      width: 50%; } }
  @media (min-width: 320px) and (max-width: 730px) {
    .col1-3 {
      width: 100%; } }
  .col1-3.about {
    width: 33.333%; }
    @media (min-width: 731px) and (max-width: 1024px) {
      .col1-3.about {
        width: 100%; } }
    @media (min-width: 320px) and (max-width: 730px) {
      .col1-3.about {
        width: 100%; } }

.col2-3 {
  width: 66.666%; }
  @media (min-width: 731px) and (max-width: 1024px) {
    .col2-3 {
      width: 100%; } }
  @media (min-width: 320px) and (max-width: 730px) {
    .col2-3 {
      width: 100%; } }

.col1-4 {
  width: 25%; }
  @media (min-width: 731px) and (max-width: 1024px) {
    .col1-4 {
      width: 50%; } }
  @media (min-width: 320px) and (max-width: 730px) {
    .col1-4 {
      width: 100%; } }

.col1-5 {
  width: 20%; }
  @media (min-width: 731px) and (max-width: 1024px) {
    .col1-5 {
      width: 100%; } }
  @media (min-width: 320px) and (max-width: 730px) {
    .col1-5 {
      width: 100%; } }

.col1-6 {
  width: 16.6666666667%; }
  @media (min-width: 731px) and (max-width: 1024px) {
    .col1-6 {
      width: 100%; } }
  @media (min-width: 320px) and (max-width: 730px) {
    .col1-6 {
      width: 100%; } }

@font-face {
  font-family: 'Mono Social Icons Font';
  src: url("../fonts/MonoSocialIconsFont-1.10.eot");
  src: url("../fonts/MonoSocialIconsFont-1.10.eot?#iefix") format("embedded-opentype"), url("../fonts/MonoSocialIconsFont-1.10.woff") format("woff"), url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype"), url("../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont") format("svg");
  src: url("../fonts/MonoSocialIconsFont-1.10.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  font-family: "Lato", "helvetica neue", Helvetica, Arial, sans-serif;
  color: #646464; }
  body.home a {
    color: white; }

a {
  color: #646464; }

p {
  margin: 6px auto; }
  @media (min-width: 320px) and (max-width: 730px) {
    p {
      font-size: 18px; } }

h3 {
  margin: 20px auto 6px auto; }

h2 {
  font-family: Lato, helvetica, sans-serif;
  text-transform: uppercase;
  color: #a6c9c2;
  font-size: 1.8rem; }

.experience h3 {
  text-transform: uppercase; }

/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */
/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none; }

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
  font-family: 'flexslider-icon';
  src: url("../fonts/flexslider-icon.eot");
  src: url("../fonts/flexslider-icon.eot?#iefix") format("embedded-opentype"), url("../fonts/flexslider-icon.woff") format("woff"), url("../fonts/flexslider-icon.ttf") format("truetype"), url("../fonts/flexslider-icon.svg#flexslider-icon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* FlexSlider Necessary Styles
*********************************/
.flexslider {
  margin: 0;
  padding: 0; }

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden; }

/* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
  width: 100%;
  display: block; }

.flex-pauseplay span {
  text-transform: capitalize; }

/* Clearfix for the .slides element */
.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

html[xmlns] .slides {
  display: block; }

* html .slides {
  height: 1%; }

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {
  display: block; }

/* FlexSlider Default Theme
*********************************/
.flexslider {
  margin: 0 0 60px;
  background: #fff;
  border: 4px solid #fff;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  zoom: 1; }

.flex-viewport {
  max-height: 2000px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease; }

.loading .flex-viewport {
  max-height: 300px; }

.flexslider .slides {
  zoom: 1; }

.carousel li {
  margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {
  *height: 0; }

.flex-direction-nav a {
  text-decoration: none;
  display: block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0;
  position: absolute;
  top: 50%;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.8);
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  transition: all .3s ease; }

.flex-direction-nav .flex-prev {
  left: -50px; }

.flex-direction-nav .flex-next {
  right: -50px;
  text-align: right; }

.flexslider:hover .flex-prev {
  opacity: 0.7;
  left: 10px; }

.flexslider:hover .flex-next {
  opacity: 0.7;
  right: 10px; }

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
  opacity: 1; }

.flex-direction-nav .flex-disabled {
  opacity: 0 !important;
  filter: alpha(opacity=0);
  cursor: default; }

.flex-direction-nav a:before {
  font-family: "flexslider-icon";
  font-size: 40px;
  display: inline-block;
  content: '\f001'; }

.flex-direction-nav a.flex-next:before {
  content: '\f002'; }

/* Pause/Play */
.flex-pauseplay a {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 5px;
  left: 10px;
  opacity: 0.8;
  z-index: 10;
  overflow: hidden;
  cursor: pointer;
  color: #000; }

.flex-pauseplay a:before {
  font-family: "flexslider-icon";
  font-size: 20px;
  display: inline-block;
  content: '\f004'; }

.flex-pauseplay a:hover {
  opacity: 1; }

.flex-pauseplay a.flex-play:before {
  content: '\f003'; }

/* Control Nav */
.flex-control-nav {
  width: 100%;
  position: absolute;
  bottom: -40px;
  text-align: center; }

.flex-control-nav li {
  margin: 0 6px;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.flex-control-paging li a {
  width: 11px;
  height: 11px;
  display: block;
  background: #666;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  text-indent: -9999px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.3); }

.flex-control-paging li a:hover {
  background: #333;
  background: rgba(0, 0, 0, 0.7); }

.flex-control-paging li a.flex-active {
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  cursor: default; }

.flex-control-thumbs {
  margin: 5px 0 0;
  position: static;
  overflow: hidden; }

.flex-control-thumbs li {
  width: 25%;
  float: left;
  margin: 0; }

.flex-control-thumbs img {
  width: 100%;
  display: block;
  opacity: .7;
  cursor: pointer; }

.flex-control-thumbs img:hover {
  opacity: 1; }

.flex-control-thumbs .flex-active {
  opacity: 1;
  cursor: default; }

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {
    opacity: 1;
    left: 10px; }

  .flex-direction-nav .flex-next {
    opacity: 1;
    right: 10px; } }
@media (min-width: 1025px) {
  .home {
    margin-top: 100px; } }
@media (min-width: 731px) and (max-width: 1024px) {
  .home {
    margin-top: 100px; } }
@media (min-width: 320px) and (max-width: 730px) {
  .home nav {
    margin-bottom: 25px; } }
@media (min-width: 731px) and (max-width: 1024px) {
  .home nav a {
    font-size: 22px;
    font-weight: 200 !important; } }
@media (min-width: 320px) and (max-width: 730px) {
  .home nav a {
    background: rgba(255, 255, 255, 0.4);
    color: #a6c9c2;
    display: block;
    font-size: 25px;
    text-align: center;
    font-weight: normal !important;
    margin: 4px auto; } }
@media (min-width: 320px) and (max-width: 730px) {
  .home .symbol {
    font-size: 80px !important; } }
@media (min-width: 320px) and (max-width: 730px) {
  .home .drop {
    display: block; } }

body {
  margin: 0px;
  padding: 0px;
  background: white; }
  body.home {
    background: #a6c9c2; }

.logo {
  text-align: center; }
  @media (min-width: 1025px) {
    .logo.normal {
      margin: 20px auto; }
      .logo.normal img {
        width: 200px; } }
  @media (min-width: 731px) and (max-width: 1024px) {
    .logo.normal {
      font-size: 25px; } }
  @media (min-width: 320px) and (max-width: 730px) {
    .logo.normal {
      margin: 20px auto;
      font-size: 30px; }
      .logo.normal img {
        width: 100%; } }

@media (min-width: 731px) and (max-width: 1024px) {
  .logo img {
    max-width: 50%; } }
@media (min-width: 1025px) {
  .logo img {
    max-width: 50%; } }
@media (min-width: 320px) and (max-width: 730px) {
  .logo img {
    width: 100%;
    margin: 20px auto; } }

@media (min-width: 320px) and (max-width: 730px) {
  p {
    text-align: justify; } }

nav {
  text-align: center; }
  nav a {
    text-transform: uppercase;
    text-decoration: none;
    padding: 2px 5px;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: .1rem;
    line-height: 3.692307692;
    text-transform: uppercase;
    margin: 0 25px 0 25px;
    display: inline-block; }
    @media (min-width: 320px) and (max-width: 730px) {
      nav a {
        font-size: 18px; } }

@media (min-width: 731px) and (max-width: 1024px) {
  nav a {
    font-size: 25px; } }
@media (min-width: 320px) and (max-width: 730px) {
  nav a {
    background: rgba(166, 201, 194, 0.6);
    color: white;
    display: block;
    font-size: 25px;
    text-align: center;
    font-weight: normal !important;
    margin: 4px auto;
    padding: 0px; } }

.links {
  text-align: center; }
  .links .externalLinks a {
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }
    .links .externalLinks a:hover {
      top: -5px;
      text-shadow: 0 10px 0px rgba(0, 0, 0, 0.2); }
    .links .externalLinks a .symbol {
      font-family: 'Mono Social Icons Font';
      -webkit-text-rendering: optimizeLegibility;
      -moz-text-rendering: optimizeLegibility;
      -ms-text-rendering: optimizeLegibility;
      -o-text-rendering: optimizeLegibility;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
      font-smoothing: antialiased;
      font-size: 3.8rem; }

.page {
  border: 1px dashed rgba(120, 120, 120, 0);
  margin: 0 auto; }
  @media (min-width: 731px) and (max-width: 1024px) {
    .page {
      width: 90%;
      min-width: 450px; } }
  @media (min-width: 731px) and (max-width: 1024px) {
    .page {
      width: 100%; } }
  @media (min-width: 320px) and (max-width: 730px) {
    .page {
      width: 100%; } }

p {
  font-size: 1.1rem; }

.callout {
  font-style: italic;
  font-size: 1.6rem;
  margin: 0 8px 0 0; }

.logo.module img {
  max-width: 29%;
  min-width: 200px; }
.logo.module h1 {
  font-weight: 100;
  letter-spacing: .2rem;
  text-align: center;
  text-transform: uppercase; }

.social.module {
  padding: 50px 0 0 0; }
  @media (min-width: 731px) and (max-width: 1024px) {
    .social.module {
      padding: 0; } }

@media (min-width: 320px) and (max-width: 730px) {
  .flexslider {
    display: none; } }

.interests.grid h3 {
  text-align: center; }

@media (min-width: 1025px) {
  .photo.module {
    overflow: hidden; } }
.photo.module img {
  margin: 1.2rem auto 0 auto;
  display: block;
  padding-bottom: 0px !important;
  background: #a6c9c2; }

.chart.grid canvas {
  margin: 0 auto;
  display: inline-block; }
.chart.grid img {
  margin: 0 auto;
  display: block; }

.connect.grid {
  text-align: center;
  text-align: left; }
  .connect.grid .col1-3 {
    text-align: left; }
    .connect.grid .col1-3 h2 {
      text-align: left;
      width: intrinsic;
      display: block;
      margin: 0 auto;
      font-size: 18px; }
      .connect.grid .col1-3 h2 em {
        font-size: 22px;
        margin: 0; }

.sitebox {
  padding: 20px 10px;
  text-align: center; }
  .sitebox img.site {
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
    border: 1px solid #e4e4e4; }
    @media (min-width: 320px) and (max-width: 730px) {
      .sitebox img.site {
        max-width: 512px; } }
  .sitebox .featured {
    margin: 0 auto;
    display: block; }

.youtube {
  margin: 0 auto 25px auto;
  display: block; }

.fitvids .col1-2 {
  padding: 15px; }

.connect.grid h3 {
  text-align: left; }

@media (min-width: 1025px) {
  .contact.module .row {
    width: 50%;
    position: relative;
    display: block;
    margin: 0 auto 5px auto; }
    .contact.module .row:after {
      clear: both;
      display: table;
      content: ""; } }
@media (min-width: 731px) and (max-width: 1024px) {
  .contact.module .row {
    width: 33.33%;
    float: left;
    display: inline-block; } }
@media (min-width: 320px) and (max-width: 730px) {
  .contact.module .row {
    width: 100%;
    display: block;
    margin: 0 auto 5px auto; }
    .contact.module .row:after {
      clear: both;
      display: table;
      content: ""; } }
.contact.module .row .image {
  padding-right: 5px;
  float: left;
  display: inline-block; }
  @media (min-width: 731px) and (max-width: 1024px) {
    .contact.module .row .image {
      width: 33.33%; } }
  @media (min-width: 320px) and (max-width: 730px) {
    .contact.module .row .image {
      width: 33.33%; } }
  .contact.module .row .image img {
    width: 100%;
    max-width: 75px;
    float: right; }
.contact.module .row .text {
  float: left;
  display: inline-block;
  text-align: left;
  padding: 2% 0 0 0; }
  @media (min-width: 731px) and (max-width: 1024px) {
    .contact.module .row .text {
      width: 66.66%; }
      .contact.module .row .text span {
        font-size: 17px !important; } }
  @media (min-width: 320px) and (max-width: 730px) {
    .contact.module .row .text {
      width: 66.66%; } }
  .contact.module .row .text span {
    font-size: 20px; }
  .contact.module .row .text em {
    display: block;
    font-size: 15px;
    color: #b1b1b1; }

.form {
  border: none;
  overflow: hidden;
  margin: 0;
  height: 290px;
  width: 100%; }
  @media (min-width: 320px) and (max-width: 730px) {
    .form {
      display: none; } }

.charts.grid .module {
  text-align: center; }
  .charts.grid .module h2 {
    text-align: left; }
.charts.grid img {
  margin: 0 auto; }

@media (min-width: 1025px) {
  .mobile {
    display: none; } }
@media (min-width: 731px) and (max-width: 1024px) {
  .mobile {
    display: none; } }

@media (min-width: 320px) and (max-width: 730px) {
  .full {
    display: none; } }

.githubLink img {
  margin-left: 5px;
  opacity: .8;
  vertical-align: middle;
  width: 32px !important;
  height: 32px !important; }
  .githubLink img:hover {
    opacity: 1; }
