// colors
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300);
$teal: #4aa0aa;


// fonts
@font-face {
    font-family: 'Mono Social Icons Font';
    src: url('../fonts/MonoSocialIconsFont-1.10.eot');
    src: url('../fonts/MonoSocialIconsFont-1.10.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MonoSocialIconsFont-1.10.woff') format('woff'),
         url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype'),
         url('../fonts/MonoSocialIconsFont-1.10.svg#MonoSocialIconsFont') format('svg');
    src: url('../fonts/MonoSocialIconsFont-1.10.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body{
  background: $teal;
  font-family: "helvetica neue", helvetica, verdana, sans-serif;
}

.logo{
  &.normal{
    margin: 20px auto;
    text-align: center;
    img{
    width: 200px;
    }
  }
  margin: 100px auto 20px auto;
  text-align: center;
  img{
   
    max-width: 50%;
  }
}


  nav{
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    text-align: center;

    a{
      text-transform: uppercase;
      color: white;
      text-decoration: none;
      padding: 2px 5px;
    font-size: .8rem;
    font-weight: 200;
    letter-spacing: .1rem;
    line-height: 3.692307692;
    text-transform: uppercase;
    margin: 0 25px 0 25px; 
    display: inline-block;
    &:hover{
      background: white;
      color: $teal;
    }
   }
   
  }


.links{
  text-align: center;

  .externalLinks{
  a{
    margin: 0 10px;
    text-decoration: none;
    position: relative;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out; 
    transition: all .2s ease-in-out;
     color: white;
    &:hover{
       top: -5px; 
       text-shadow: 0 10px 0px rgba(0,0,0,.2);    
    }
    .symbol{
        font-family: 'Mono Social Icons Font';
        -webkit-text-rendering: optimizeLegibility;
        -moz-text-rendering: optimizeLegibility;
        -ms-text-rendering: optimizeLegibility;
        -o-text-rendering: optimizeLegibility;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-font-smoothing: antialiased;
        -ms-font-smoothing: antialiased;
        -o-font-smoothing: antialiased;
        font-smoothing: antialiased;
        color: white;
        font-size: 3.8rem;
    }
    
  }
}
}

/* Start Don't Overthink it Grids  */

.grid{
  width: 80%;

  
}

.grid:after{
  clear: both;
  display: table;
  content:"";
}

[class*='col'] { 
  display: inline-block; 
  float: left; 
  padding-left: 5px; 
  padding-right: 5px;
}

.col1-1{ width: 100%; }
.col1-2{ width: 50%; }
.col1-3{ width: 33.333%; }
.col2-3{ width: 66.666%; }
.col1-4{ width: 25%; }
.col1-5{ width: 20%; }
.col1-6{ width: 16.6666666667%; }

/* End Don't Overthink it Grids  */
           

.games{
 width: 80%;
 margin: 0 auto;
 padding: 30px 0 0 0;
  .game{
    position: relative;
    h2{
      width: intrinsic;
      font-weight: 200;
      top: 5px;
      left: 5px;
      display: block;
      position: absolute;
      padding: 8px 15px;
      color: white;
      text-align: center;
     
      font-size: 2rem;
     background: darken($teal, 10%);
    }
    img{
      width: 100%;
      max-width: 800px;
      position: relative;
    }
&:hover{
  opacity: .9;
}
  }
}
