// $slate: rgba(61,73,81,1);
$slate: #000;
$coral: #FF8B52;
$purple: #AB1F52;
$milkyglass: rgba(255,255,255,.9);
$darkglass: #070e0d;
$cleardarkglass: rgba(17,13, 14, 0.8);

.bg-white{
	background: white;
	color: $slate;
	a{
		color: $slate !important;
	}
}

.bg-cream{
	background: #f7f7f3;
	color: $slate;
	a{
		color: $slate !important;
	}
}
