$bar-height: 68px;

body {
  margin: 0px;
  padding: 0px;
  color: $slate;
}

.page{
  margin-top: $bar-height;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
}

.hidden{
  display: none;
}

.mobile-only{
	@include bp(mama-bear) {
    display: none;
  } 
  @include bp(papa-bear) {
    display: none;
  } 
}

.hide-on-mobile{
@include bp(baby-bear) {
    display: none;
  } 
}

 @media (max-width: 1400px){ 
	.if-large{
		display:none;
	}
}

.content-section{
	img{
		width: 100%;
	}
}