.main-header{
	z-index: 20;
	background: $darkglass;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	@include bp(papa-bear) {
		height: $bar-height * .8;
	}
	.col1-2{
		@include bp(mama-bear) {
			width: 100%;
		}
	}
	nav{
		@include bp(mama-bear) {
			text-align: center;
		}
		a{
			font-size: 1.2rem;
			letter-spacing: .1rem;
 			text-decoration: none;
			display: inline-block;
			padding: 16px 20px;
			color: white;
			text-transform: uppercase;
			font-family:"helvetica neue", Helvetica, Arial, sans-serif;
			font-weight: 400;
			&:hover{
				color: black;
				background: white;
			}
			&.active{
				cursor: normal;
				color: black;
				background: white;
			}
		}
	}
}


.logo{
	margin: 5px;
	color: white;
	font-family: "Lato", "helvetica neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-size: 2.2rem;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-align: center;
}

.header-offset{
	@include bp(papa-bear) {
		height:  $bar-height;
	}
	@include bp(mama-bear) {
		height:  $bar-height * 2;
	}
	@include bp(baby-bear) {
		height: 0px;
	}
}
