.picmax{
  max-width: 887px;
  max-height: 500px;
}

.biopic{
  img{
    width: 100%;
  }
  h1{
    width: 100%;
    color: white;
    font-family: "Lato", "helvetica neue", Helvetica, Arial, sans-serif;
    font-weight: 100;

    letter-spacing: .1rem;
    text-transform: uppercase;
    position: absolute;
    text-align: center;


    @include bp(mama-bear) {
      font-size: 3.2rem;
        top: $bar-height * .5;
    }
      @include bp(baby-bear) {
        font-size: 2rem;
          top: $bar-height * .8;
      }


  }
}

.experience.content-section{
  background: white;
  @include bp(mama-bear) {
    color: $slate;
    a{
      color: $slate !important;
    }
  }
  @include bp(papa-bear) {
    color: $slate;
    a{
      color: $slate !important;
    }
  }
}

.work-experience{
  @include bp(baby-bear) {
    background: white;
    color: $slate;
    a{
      color: $slate !important;
    }
  }
}

.personal-experience{
  @include bp(baby-bear) {
    background: #f7f7f3;
    color: $slate;
    a{
      color: $slate !important;
    }
  }
}
