.mobile-header{
	background: rgba(255,255,255,.9);
	position: fixed;
	height:  $footer-height;
	width: 100%;
	padding: 10px 0;
	top: 0;
	left: 0;
	right: 0;
	z-index: 20;
}

.mobile-menu-button{
	outline: none;
	float: right;
	color: $background;

	padding: 10px;
	border: 0;
	background: transparent;
	font-size: 1.8rem;
	i{
		margin-left: 5px;
	}
	&:hover{
		cursor: pointer;
opacity: .8;
	}
}

.mobile-menu{
	z-index: 2;
	position: absolute;
	width: 100%;
	height: 100%;
	background: $background;
	color: $text;

	header{
		padding: 10px;
		.close-icon{
			outline: none;
			float: right;
			color: $text;
			border: 3px solid $text;
			height: 60px;
			width: 60px;
			border-radius: 48px;
			background: transparent;
			font-size: 1.8rem;
			&:hover{
				cursor: pointer;
				color: $background;
				border: 3px solid $background;
				background: $text;
			}
		}
		&:after{
			clear: both;
			display: table;
			content:"";
		}
	}

	a{
		width: 100%;
		font-size: 1.6rem;
		padding: 19px 0 26px 15%;
		display: block;
		border-top: 1px solid $text;
		border-bottom: 1px solid $text;
		text-decoration: none;
		&:hover{
			color: $background;
			background: $text;
		}
	}
}