@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300);

@import "font-awesome/font-awesome";

body{
  font-family: "Lato", "helvetica neue", Helvetica, Arial, sans-serif;
  &.home{
    a{
      color: white;
    }
  }
}

h2{
	display: block;
	width: 100%;
	text-align: center;
	font-family: "helvetica neue", Helvetica, Arial, sans-serif;
	letter-spacing: .2rem;
	text-transform: uppercase;
	font-weight: 300;
	text-rendering: optimizelegibility;
	-webkit-font-smoothing: antialiased;
}

h3{
	a{
	  color: white;
	}
}

a{
  color: white;
}

p {
  font-size: 1.1rem;
  @include bp(baby-bear) {
    text-align: justify;
  }
}

