
@import url(http://fonts.googleapis.com/css?family=Lato:100,200,300);

@import "font-awesome/font-awesome";

body{
  font-family: "Lato", "helvetica neue", Helvetica, Arial, sans-serif;
  &.home{
    a{
      color: black;
    }
  }
}

a{
  color: black;
}

