@import "colors";
@import "structure";
@import "typography";



body {
  margin: 0px;
  padding: 0px;
  color: black;
  background: white;
}

p {
  font-size: 1.1rem;
  @include bp(baby-bear) {
    text-align: justify;
  }
}

@import "footer";


