

@import"colors";
@import"typography";
@import"flexslider";
@import"home";
@import"structure";






body{

  &.home{
    background: $dark-blue;
  }
    background: white; 
}

.logo{
  &.normal{
    margin: 20px auto;
    text-align: center;
    img{
    width: 200px;
    }
  }
  margin: 50px auto 20px auto;
  text-align: center;
  img{
    min-width: 370px;
    max-width: 50%;
  }
}

p{
    @include bp(baby-bear) {
    text-align: justify;
  }
}


  nav{
    text-align: center;
    a{
      text-transform: uppercase;
      text-decoration: none;
      padding: 2px 5px;
      font-size: .8rem;
      font-weight: 200;
      letter-spacing: .1rem;
      line-height: 3.692307692;
      text-transform: uppercase;
      margin: 0 25px 0 25px; 
      display: inline-block;
    }
  }


.links{

  text-align: center;
  .externalLinks{
    a{
      margin: 0 10px;
      text-decoration: none;
      position: relative;
      -webkit-transition: all .2s ease-in-out;
      -moz-transition: all .2s ease-in-out;
      -ms-transition: all .2s ease-in-out;
      -o-transition: all .2s ease-in-out; 
      transition: all .2s ease-in-out;
      &:hover{
         top: -5px; 
         text-shadow: 0 10px 0px rgba(0,0,0,.2);    
      }
      .symbol{
          font-family: 'Mono Social Icons Font';
          -webkit-text-rendering: optimizeLegibility;
          -moz-text-rendering: optimizeLegibility;
          -ms-text-rendering: optimizeLegibility;
          -o-text-rendering: optimizeLegibility;
          text-rendering: optimizeLegibility;
          -webkit-font-smoothing: antialiased;
          -moz-font-smoothing: antialiased;
          -ms-font-smoothing: antialiased;
          -o-font-smoothing: antialiased;
          font-smoothing: antialiased;
          font-size: 3.8rem;
      } 
    }
  }
}



           

.page{
  border: 1px dashed $greyout;
  margin: 0 auto;
  width: 90%;
    min-width: 450px;
  @include bp(mama-bear) {
    width: 100%;
  } 
  @include bp(baby-bear) {
    width: 100%;
  }
}




p{
  font-size: 1.1rem;
}

.callout{
  font-style: italic;
  font-size: 1.6rem;
  margin: 0 8px 0 0;
}

.logo.module{
  img{
    max-width: 29%;
    min-width: 200px;
  }
  h1{
   font-weight: 100;
   letter-spacing: .2rem;
    text-align: center;
    text-transform: uppercase;
  }
}



.social.module{

  padding: 50px 0 0 0;
  @include bp(mama-bear) {
    padding: 0;
  }
}

.flexslider{
  @include bp(baby-bear) {
    display: none;
  }
}


.interests.grid{
  h3{
    text-align: center;
  }
}

.photo.module{
  @include bp(papa-bear) {
    overflow: hidden;
  }
  img{
    margin: 1.2rem auto 0 auto;
    display: block;
   background: $dark-blue;
  }
}


.chart.grid{
  canvas{
    margin: 0 auto;
    display: inline-block;
  }
   img{
    margin: 0 auto;
    display: block;
  }
}

// .dounutChart{
//   width: 100px !important;
//   height: 100px !important;
// }

// .softwareChart{
// width: 450 !important; 
// height: 200 !important;
// }


.connect.grid{
  text-align: center;
  .col1-3{
    text-align: left;
    h2{
      text-align: left;
      width: intrinsic;
      display: block;
      margin: 0 auto;
      font-size: 18px;
      em{
        font-size: 22px;
        margin: 0 
      }
    }
    }
  text-align: left;
}


.sitebox{
  padding: 20px 10px;
  text-align: center;
  img.site{
    margin: 0 auto;
    max-width: 420px;
    width: 100%;
    border: 1px solid lighten($grey, 50%);
    @include bp(baby-bear) {
      max-width: 512px;
    }
  }
  .featured{
    margin: 0 auto;
    display: block;
  }
}

.youtube{
  margin: 0 auto 25px auto;
  display: block;
}


.fitvids{
  .col1-2{
    padding: 15px;
  }
}

.connect.grid{
  h3{
    text-align: left;
  }
}

.contact.module{

  .row{

    @include bp(papa-bear) {
    
      width: 50%;
      position: relative;
      display: block ;
      margin: 0 auto 5px auto;  
      &:after{
        clear: both;
        display: table;
        content:"";
      }
    }
  
    @include bp(mama-bear) {
      width: 33.33%;
      float: left;
      display: inline-block;
    }
      @include bp(baby-bear) {
 
      width: 100%;
      display: block;
      margin: 0 auto 5px auto; 
    }

    .image{
      padding-right: 5px;
      float: left;
      display: inline-block;
      @include bp(mama-bear) {
      width: 33.33%;
    }
      img{
        width: 100%;
        max-width: 75px;
        float: right;
      }
    }
    .text{
      float: left;
      display: inline-block;
      @include bp(mama-bear) {
      width: 66.66%;
    }
      text-align: left;
      padding: 2% 0 0 0;
      span{

        //text-transform: uppercase;
        font-size: 20px;
      }
      em{
        display: block;
        font-size: 15px;
        color: lighten($grey, 30%);
      }
    }
  }
}


.form{
  border: 0px;
}