.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}


.nav{
  li{
    &:hover{
      cursor: pointer;
      background: rgba(0,0,0,0.1);
    }
  }
}

.nav.navbar-nav.navbar-right.social{
  li{
    a{
      i{
        font-size: 30px;
      }
    }
  }
}

