.portfolio-item{
  margin:0 auto 10px auto;
  img{
    max-width: 370px;
  }
}



.resume, .community{
  margin-top: 25px;
  // max-width: 800px;
  // margin: 0 auto;
  .item{
    margin-bottom: 25px;
    .description{
      max-width: 800px;
    }
  }
}
