@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald:300,700');

h1{
  font-size: 60px;
  line-height: 120%;
  font-family: 'Oswald';
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0px;
}

h2{
  margin-top: 0;
  font-family: 'Oswald';
  font-weight: 300;
  margin-bottom: 20px;
}

body{

  font-family: 'Open Sans';
}
