
<div class="grid">
  <div class="col2-3">
    <section class="module">
      <p>
        I am a web designer, developer, and indie game illustrator with a passion for when art and technology work together for a purpose. A transplant to Louisville from Orange County, CA, I have discovered the extraordinary beauty of all four seasons and life without a great deal of traffic.
      </p>
      <p>
       I believe that web design is much more than a coat of paint. Design and user experience must create a seamless flow from the creator to the user in order to clearly convey the website's message.  I am excited about working in an environment that understands the importance and advantages of technology and encourages their team to learn and experiment with new web practices.
     </p>
     <p>
      Please take some time to check out <a href="http://portfolio.alexbezuska.com" target="_blank">my work</a>, learn about <a href="http://blog.alexbezuska.com/" target="_blank">my passions</a>, and feel free to contact me with any additional questions.
    </p>
  </section>
</div>
<div class="col1-3 about">
  <section class="photo module">
    <img src="img/alex-bezuska-photo.png" alt="Alex Bezuska Web Designer Louisville Kentucky"/>
  </section>
</div>
</div>

<div class="samples grid">

  <div class="col1-4 sitebox">
    <img  class="site" src="img/portfolio/thermoknight.png"  alt="Thermo Knight| Alex Bezuska - Web Designer | alexbezuska.com">
  </div>

  <div class="col1-4 sitebox">
    <img  class="site" src="img/portfolio/greatretirement.png"  alt="Great Retirement Resources| Alex Bezuska - Web Designer | alexbezuska.com">
  </div>

  <div class="col1-4 sitebox">
    <img  class="site" src="img/portfolio/touchtint.png"  alt="Touch Tint | Alex Bezuska - Web Designer | alexbezuska.com">
  </div>

  <div class="col1-4 sitebox">
    <img  class="site" src="img/portfolio/ncsf.png"   alt="New Community San Fransisco | Alex Bezuska - Web Designer | alexbezuska.com">
  </div>

</div>

<div class="experience grid">
 <div class="col1-2">
  <section class="module">
    <h2>Work Experience</h2>

    <h3>Front End Web Developer | Mortenson Dental Partners</h3>
    <em>April 2013 - Present</em>
    <p>I design and develop internal use web apps and internal/external websites.  I specialize in the design and UI/UX of each project, but also apply my experience with C#, SQL server, mySQL, and MongoDB to bridge the gap between my team’s server-side code and my front end work.   </p> 

    <h3>Independent Web Designer | Alexbezuska.com</h3>
    <em>January 2008 - April 2013</em>
    <p>Worked one-on-one with clients to bring their vision and purpose to life on each custom website.  To do this I worked to balance the end user’s needs and the client’s requests.  </p>

  </section>
</div>


<div class="col1-2">
  <section class=" module">
    <h2>Personal Experience</h2>
    <h3>Founder/Organizer/Host | <a href="http://jslou.org" target="_blank">JSLou </a></h3>
    <em>August 2013 - Present</em>
    <p>In order to grow and challenge myself as a developer I have started and sustained JSLou, a local group focused on all things JavaScript. I have learned a great deal from the many experienced developers I have met through JSLou. I enjoy facilitating an environment where others can learn and expand their skills.
    </p>

    <h3>Creator/Designer/Artist |  <a href="http://twoscoopgames.com" target="_blank">Two Scoop Games</a></h3>
    <em>November 2013 - Present</em>  
    <p>To keep my skills current and to sustain my passion for design and programming, a friend and I develop HTML5/JavaScript games.  We have currently completed three projects, all of which are cross-platform.  In doing this I am able to combine my passions for art and technology to create games for all to enjoy.
    </p>
  </section>
</div>
</div>

<div class="charts grid mobile">
  <div class="col2-3">
    <section class="module">
      <h2>Skills</h2>
      <img src="img/skillsChart-mobile.png" alt="Alex Bezuska Web Designer Louisville Kentucky"/>

    </section>
  </div>
  <div class="col1-3 about">
    <section class="module">
      <h2>Software</h2>

      <img src="img/softwareChart-mobile.png" alt="Alex Bezuska Web Designer Louisville Kentucky"/>
    </section>
  </div>
</div>


<div class="charts grid full">
  <div class="col2-3">
    <section class="module">
      <h2>Skills</h2>
      <img src="img/skillsChart.png" alt="Alex Bezuska Web Designer Louisville Kentucky"/>

    </section>
  </div>
  <div class="col1-3 about">
    <section class="module">
      <h2>Software</h2>

      <img src="img/softwareChart.png" alt="Alex Bezuska Web Designer Louisville Kentucky"/>
    </section>
  </div>
</div>



<div class="grid">
  <div class="col1-3">
    <section class="module">
      <br/>
    </section>
  </div>
  <div class="col2-3">
    <section class="module">
      <br/>
    </section>
  </div>
</div>

<div class="connect grid">
  <h2>Connect</h2>
  <div class="col1-2">
    <section class="contact module">

      <div class="row">
        <div class="image"> 
          <img src="img/contact-email.png" alt="Alex Bezuska - Web Designer email"/>
        </div>
        <div class="text">
          <span class="full">abezuska@gmail.com</span>
          <span class="mobile"><a href="mailto:abezuska@gmail.com">abezuska@gmail.com</a></span>
          <em>Email Address</em>
        </div>
      </div>

      <div class="row">
        <div class="image"> 
          <img src="img/contact-phone.png" alt="Alex Bezuska - Web Designer email"/>
        </div>
        <div class="text">
          <span>714 423 7411</span>
          <em>Phone Number</em>
        </div>
      </div>

      <div class="row">
        <div class="image"> 
          <img src="img/contact-twitter.png" alt="Alex Bezuska - Web Designer email"/>
        </div>
        <div class="text">
          <span>@alexbezuska</span>
          <em>Twitter Handle</em>
        </div>
      </div>

    </section>
  </div>
  <div class="col1-2">
    <section class="module">
      <iframe class="form" src="form/form.php"></iframe>
    </section>
  </div> 
</div>
