
<div class="grid">
  <div class="col2-3">
    <section class="module">
      <p>
        I am a web designer, developer, and indie game illustrator with a passion for when art and technology work together for a purpose. A transplant to Louisville from Orange County, CA, I have discovered the extraordinary beauty of all four seasons and life without a great deal of traffic.
      </p>
      <p>
        I believe that web design is much more than a coat of paint. Design and user experience must create a seamless flow from the creator to the end user in order to clearly convey the website's message.  I am excited about working in an environment that understands the importance and advantages of technology and fosters an environment for their team to learn and experiment with new web practices. 
      </p>
      <p>
        Please take some time to check out <a href="http://portfolio.alexbezuska.com" target="_blank">my work</a>, learn about <a href="http://blog.alexbezuska.com/" target="_blank">my passions</a>, and feel free to contact me with any additional questions.
      </p>
    </section>
  </div>
  <div class="col1-3 about">
    <section class="photo module">
      <img src="img/alex-bezuska-photo.png" alt="Alex Bezuska Web Designer Louisville Kentucky"/>
    </section>
  </div>
</div>

    <!-- <div class="grid interests">
      <div class="col1-3">
        <section class="code module">
           <h3>Code</h3>
        </section>
      </div>
      <div class="col1-3">
        <section class="games module">
           <h3>Game Design</h3>
        </section>
      </div>
      <div class="col1-3">
        <section class="art module">
          <h3>Art</h3>
        </section>
      </div>
    </div>-->
    <div class="samples grid">

      <div class="col1-4 sitebox">
        <img  class="site" src="img/portfolio/thermoknight.png"  alt="Thermo Knight| Alex Bezuska - Web Designer | alexbezuska.com">
      </div><!-- end col1-3 -->

      <div class="col1-4 sitebox">
        <img  class="site" src="img/portfolio/greatretirement.png"  alt="Great Retirement Resources| Alex Bezuska - Web Designer | alexbezuska.com">
      </div><!-- end col1-3 -->

      <div class="col1-4 sitebox">
        <img  class="site" src="img/portfolio/touchtint.png"  alt="Touch Tint | Alex Bezuska - Web Designer | alexbezuska.com">
      </div><!-- end col1-3 -->

      <div class="col1-4 sitebox">
        <img  class="site" src="img/portfolio/ncsf.png"   alt="New Community San Fransisco | Alex Bezuska - Web Designer | alexbezuska.com">
      </div><!-- end col1-3 -->

    </div> <!-- .grid -->

    <div class="experience grid">
     <div class="col1-2">
      <section class="module">
        <h2>Work Experience</h2>

        <h3>Front End Web Developer | Mortenson Dental Partners</h3>
        <em>April 2013 - Present</em>
        <p>Involved in the development of company programs and internal/external websites.  I specialize in the design and UI/UX of each project, but also apply my experience with C#, SQL server, mySQL, and MongoDB to bridge the gap between my team's server-side code and my front end designs. </p> 

        <h3>Independent Web/UI/UX Designer | Alexbezuska.com</h3>
        <em>January 2008 - April 2013</em>
        <p>Worked one-on-one with clients to bring their vision and organization's purpose to life on each custom website.  To do this I worked to refine the balance of the end user's needs and the client's requests.</p>

      </section>
    </div>


    <div class="col1-2">
      <section class=" module">
        <h2>Personal Experience</h2>
        <h3>Founder/Organizer/Host | <a href="http://jslou.org" target="_blank">JSLou </a></h3>
        <em>October 2013 - Present</em>
        <p>In order to grow and be challenged as a developer I have started and sustained JSLou, a local meetup focused on all things JavaScript. Through JSLou I have met many experienced developers and have enjoyed the opportunity to learn from them as I gain a better understanding of JavaScript.</p>

        <h3>Creator/Designer/Artist |  <a href="http://twoscoopgames.com" target="_blank">Two Scoop Games</a></h3>
        <em>January 2014 - Present</em>  
        <p>To keep my skills current and to sustain my passion about design and programming, a friend and I develop HTML/JavaScript games.  We have currently completed three projects.  In doing this I am able to incorporate my passion of mixing art and technology to create games for all to enjoy.</p>
      </section>
    </div>
  </div>

  <div class="experience grid">
    <div class="col2-3">
      <section class="module">
        <h2>Skills</h2>
        <img src="img/skillsChart.png" alt="Alex Bezuska Web Designer Louisville Kentucky"/>
<!--<canvas class="dounutChart" id="skillsChart-html" width="500" height="500"></canvas>
 <canvas class="dounutChart" id="skillsChart-csssass" width="100" height="100"></canvas>
<canvas class="dounutChart" id="skillsChart-javascript" width="100" height="100"></canvas>
<canvas class="dounutChart" id="skillsChart-csharp" width="100" height="100"></canvas>
<canvas class="dounutChart" id="skillsChart-webDesign" width="100" height="100"></canvas>
<canvas class="dounutChart" id="skillsChart-userExperience" width="100" height="100"></canvas>
-->
</section>
</div>
<div class="col1-3 about">
  <section class="module">
    <h2>Software</h2>
    <!--   <canvas class="softwareChart" id="softwareChart" width="450" height="200"></canvas>-->
    <img src="img/softwareChart.png" alt="Alex Bezuska Web Designer Louisville Kentucky"/>
  </section>
</div>
</div>

<div class="grid">
  <div class="col1-3">
    <section class="module">
      <br/>
    </section>
  </div>
  <div class="col2-3">
    <section class="module">
      <br/>
    </section>
  </div>
</div>

<div class="connect grid">
  <h2>Connect</h2>
  <div class="col1-2">
    <section class="contact module">

      <div class="row">
        <div class="image"> 
          <img src="img/contact-email.png" alt="Alex Bezuska - Web Designer email"/>
        </div>
        <div class="text">
          <span>abezuska@gmail.com</span>
          <em>Email Address</em>
        </div>
      </div>

      <div class="row">
        <div class="image"> 
          <img src="img/contact-phone.png" alt="Alex Bezuska - Web Designer email"/>
        </div>
        <div class="text">
          <span>714 423 7411</span>
          <em>Phone Number</em>
        </div>
      </div>

      <div class="row">
        <div class="image"> 
          <img src="img/contact-twitter.png" alt="Alex Bezuska - Web Designer email"/>
        </div>
        <div class="text">
          <span>@alexbezuska</span>
          <em>Twitter Handle</em>
        </div>
      </div>


    </section>
  </div>
  <div class="col1-2">
    <section class="module">
      <iframe class="form" src="form/form.php" width="100%" height="290px" scrolling="no" border="0"></iframe>
    </section>
  </div> 
</div>
