

<div class="col1-1 sitebox">
  <div class="flexslider">
  <ul class="slides">
    <li><img src="img/portfolio/thermoknight-big.png" alt="Thermo Knight | Alex Bezuska - Web Designer | alexbezuska.com"></li>
    <li><img src="img/portfolio/tcky-big.png" alt="Thermo Knight | Alex Bezuska - Web Designer | alexbezuska.com"></li>
    <li><img src="img/portfolio/seanrachael-big.png" alt="Thermo Knight | Alex Bezuska - Web Designer | alexbezuska.com"></li>
    <li><img src="img/portfolio/touchtint-big.png" alt="Thermo Knight | Alex Bezuska - Web Designer | alexbezuska.com"></li>
    <li><img src="img/portfolio/tcc-big2.png" alt="Thermo Knight | Alex Bezuska - Web Designer | alexbezuska.com"></li>
    <li><img src="img/portfolio/ncsf-big.png" alt="Thermo Knight | Alex Bezuska - Web Designer | alexbezuska.com"></li>
  </ul>
</div>
  
</div><!-- end col1-1 -->


<div class="col1-3 sitebox">
  <img  class="site" src="img/portfolio/thermoknight.png"  alt="Thermo Knight| Alex Bezuska - Web Designer | alexbezuska.com">
  <p><a href="http://www.thermoknight.com" target="_blank"><img src="img/visit.png"  height="65" alt=" Web Design | alexbezuska.com"></a></p>
</div><!-- end col1-3 -->



<div class="col1-3 sitebox">
  <img  class="site" src="img/portfolio/tcky.png"  alt="Teen Challenge Kentucky | Alex Bezuska - Web Designer | alexbezuska.com">
  <p><a href="http://www.teenchallengeky.com" target="_blank"><img src="img/visit.png"  height="65" alt=" Web Design | alexbezuska.com"></a></p>
</div><!-- end col1-3 -->


<div class="col1-3 sitebox">
  <img  class="site" src="img/portfolio/seanrachael.png"  alt="Wedding Website | Alex Bezuska - Web Designer | alexbezuska.com">
  <p><a href="http://warren.alexbezuska.com" target="_blank"><img src="img/visit.png"  height="65" alt=" Web Design | alexbezuska.com"></a></p>
</div><!-- end col1-3 -->



<div class="col1-3 sitebox">
  <img  class="site" src="img/portfolio/touchtint.png"  alt="Touch Tint | Alex Bezuska - Web Designer | alexbezuska.com">
  <p><a href="http://touchtint.com" target="_blank"><img src="img/visit.png"  height="65" alt=" Web Design | alexbezuska.com"></a></p>
</div><!-- end col1-3 -->



<div class="col1-3 sitebox">
  <img  class="site" src="img/portfolio/tcc2.png"  alt="Christian Communicator | Alex Bezuska - Web Designer | alexbezuska.com">
  <p><a href="http://christiancommunicator.com" target="_blank"><img src="img/visit.png"  height="65" alt=" Web Design | alexbezuska.com"></a></p>
</div><!-- end col1-3 -->

<div class="col1-3 sitebox">
  <img  class="site" src="img/portfolio/ncsf.png"   alt="New Community San Fransisco | Alex Bezuska - Web Designer | alexbezuska.com">
  <p><a href="http://www.newcommunitysf.com" target="_blank"><img src="img/visit.png"  height="65" alt=" Web Design | alexbezuska.com"></a></p>
</div><!-- end col1-3 -->





<div class="fitVids grid">
  <div class="col1-2">     
     <iframe id="RedLetterDay"  class="youtube" width="960" height="540" src="http://www.youtube.com/embed/fSz1H1k1Hj0" frameborder="0" allowfullscreen>
     </iframe>
  </div><!-- end col1-2 -->  

<div class="col1-2">
 <iframe src="http://player.vimeo.com/video/41541647" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </div><!-- end col1-2 -->
</div><!-- end fitVids-->
<div class="fitVids grid">
  <div class="col1-2"> 
    <iframe id="MerryPeople" class="youtube" width="960" height="540" src="http://www.youtube.com/embed/lXqB5Kshf2c" frameborder="0" allowfullscreen>
    </iframe>
  </div><!-- end col1-2 -->

  <div class="col1-2">
    <iframe id="KickBot"  class="youtube" width="960" height="540" src="http://www.youtube.com/embed/ek1yJr6Od2I" frameborder="0" allowfullscreen>
    </iframe>
  </div><!-- end col1-2 -->
</div><!-- end fitVids-->

<script src="js/jquery.js"></script>
<script src="js/jquery.flexslider-min.js"></script>
<script src="js/jquery.fitvids.js"></script>
<script>
  $(document).ready(function(){
    $(".fitVids").fitVids();
  });

  $(window).load(function() {
    $('.flexslider').flexslider({
      animation: "slide"
    });
  });
</script>

