{{>header}}

{{>featured-posts}}

  <main role="main" class="container">
    <div class="row">

      <div class="col-md-12 blog-main">
        {{>recent-posts}}
      </div>

      <!-- <aside class="col-md-4 blog-sidebar">
        {{>about}}
        {{>recent-links}}
        {{>archive}}
      </aside> -->

    </div>

  </main>
{{>footer}}
