{{>header}}

<main role="main" class="container">



     <div class="row">

       <div class="col-sm-6">
         <h2>Available for Contract Work</h2>
         <p>I am open for web design, web development, or game development contract work opportunities.</p>
         <p>I work with another talented local Louisville, KY developer to bring your brand or idea to life through engaging games and interactive digital experiences.</p>

         <p>Keep me in mind for your next web app or game!</p>
         </div>

         <div class="col-sm-6">
           <h2>Contact me today</h2>
           <p>{{site.about.name}}</p>
           <p>{{site.about.email}}</p>
           <p>{{site.about.phone}}</p>
         </div>

       </div>


     </main>

 </main>
