{{>header}}

<main role="main" class="container">



  <div class="row">

    <div class="col-sm-6">
      <h2>Contract Work Opportunities</h2>
      <p>I do contract work under my company Two Scoop Interactive.
        <br>
        We can us bring your brand to life through engaging apps, games, and interactive digital experiences.
        <br>
        Cross-platform - iOS, Android, Web, Linux, Mac, or Windows.
        <br>
        Keep us in mind for your next game or app!</p>
        <a class="btn btn-primary" href="http://twoscoopinteractive.com/">Find out more</a>
      </div>

      <div class="col-sm-6">
        <h2>Other Coorispondance</h2>
        <p><strong>email:</strong> abezuska[at]gmail.com</p>
      </div>

    </div>


  </main>
