{{>header}}

<main role="main" class="portfolio container">

  <div class="row">
    {{#each portfolio.games}}
      {{#if show}}
        <div class="portfolio-item col-sm-3 col-xs-12">
          <img src="{{img}}" />
        </div>
      {{/if}}
    {{/each}}
  </div>

</main>
{{>footer}}
