<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Alex Bezuska">
  <title></title>


  <link rel="stylesheet" href="css/main.css">
</head>

<body>
<div class="container">
  <h1> Alex Bezuska</h1>
  <h2 class="subtitle">Game Artist & Developer</h2>
</div>
