<section id="advocating">
  <h2>Advocating</h2>
  {{#each advocating}}
    <article class="hairline-bottom">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
    </article>
  {{/each}}
</section>
