<header>
  <h1 class="big-title">{{meta.title}}</h1>
  <h5 class="subtitle">{{meta.subtitle}}</h5>
  <p class="text-right">Let's connect! <a href="mailto:{{about.email}}" class="email-button">{{about.email}}</a></p>
</header>
