<div class="card-container">
  <div class="float-card">
    
    <section class="layout layout-1-2">
  <div>
    <figure>
      <img src="img/alex_bezuska_2022.png" alt="{{title}} - {{subtitle}}" class="bio-pic">
    </figure>
  </div>
  <div>
    <h1 class="no-top-margin">{{about.greeting}}</h1>
    <p class="italic-callout">{{about.hello}}</p>
</section>

</div>
</div>

<br class="spacer">

<section>
    <p id="years-frontend">Front-end web development experience.</p>
    <p>Excellent communication skills especially in connecting and translating between developers and non-technical staff.</p>
    <p id="years-photoshop">Adobe Software experience.</p>
    <p>Comfortable with Mac, Windows, and Linux – including command line.</p>
    <p id="years-git">Git version control experience.</p>
    <p>Based in the Louisville, Kentucky area.</p>
  </div>
</section>
