

<div class="print-header row">

<div class="col-md-8">
<a class="navbar-brand" href="/"><div class="alex-icon" ></div> <span class="name">{{site.title}}</span> <span class="tagline">{{site.subtitle}}</span></a>

</div>
<div class="col-md-4">
{{site.about.email}}
{{site.about.phone}}
</a>

</div>
</div>
