<section id="skills">
  <h2>Skills</h2>
  <div class="layout layout-4">
    {{#each skills}}
      <section>
        {{#if this.icon}}
          <figure>
            <img src="{{this.icon}}" alt="{{this.title}} icon" class="tint-image center">
          </figure>
        {{/if}}
        <h3 class="smaller no-top-margin">{{this.title}}</h3>
        <ul class="smaller">
          {{#each this.skills}}
            <li>{{this}}</li>
          {{/each}}
        </ul>
      </section>
    {{/each}}
  </div>
</section>
