<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{title}} - {{subtitle}}</title>
  <meta name="author" content="{{author}}">
  <meta name="description" content="{{description}}">
  <link href="css/bootstrap.min.css" rel="stylesheet" >
  <link rel="stylesheet" href="css/main.css">
</head>
<body class="bg-blue-sm">
  <div class="web-header fixed-top">

    <nav class="navbar navbar-expand-md navbar-dark  bg-grey">
      <a class="navbar-brand" href="/">
        <div class="alex-icon"></div> 
        <span class="name">{{title}}</span> 
        <span class="tagline">{{subtitle}}</span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="ml-auto">
        <a class="nav-link text-white" href="mailto:{{about.email}}">{{about.email}}</a>
      </div>
    </nav>
  
  </div>

<div class="container">
   <div class="print-header">
      <div class="print-header-side">
         <span class="name">{{title}}</span><br>
         <span class="tagline">{{subtitle}}</span>
      </div>
      <div class="print-header-side align-right">
         {{about.email}}<br>
         {{about.phone}}<br>
         New Albany, Indiana
      </div>
   </div>
   <div class="jumbotron no-padding-sm top-space bg-teal-gradient">
      <div class="container no-padding-sm">
         <div class="row no-margins">
            <div class="col-sm-4 col-xs-12">
               <img src="img/alex_bezuska_2022.png" class="alex-image" alt="{{title}} - {{subtitle}}"/>
            </div>
            <div class="col-sm-8 col-xs-12 pad1040">
               <h1 class="intro-heading">{{about.greeting}}</h1>
               <p class="hello-text">{{about.hello}}</p>
              <div class="hello-extended">
                  <p id="years-frontend">Front-end web development experience.</p>
                  <p>Excellent communication skills especially in connecting and translating between developers and non-technical staff.</p>
                  <p id="years-photoshop">Adobe Software experience.</p>
                  <p>Comfortable with Mac, Windows, and Linux - including command line.</p>
                  <p id="years-git">Git version control experience.</p>
                  <p>Based in the Louisville, Kentucky area.</p>
                  </div>



            </div>
         </div>
      </div>
   </div>
   <div class="print-cover">
      <div class="row main-resume">
         <div class="col-md-12">
            <h2 class="resume-title" >{{about.cover-letter.title}}</h2>
            <div class="">
               {{#each about.cover-letter.body}}
               <p>{{{this}}}</p>
               {{/each}}
               <p>Thanks for your time,</p>
               <strong>{{about.name}}</strong>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <div class="print-break"></div>
   <div class="print-header">
      <div class="print-header-side">
         <span class="name">{{title}}</span><br>
         <span class="tagline">{{subtitle}}</span>
      </div>
      <div class="print-header-side align-right">
         {{about.email}}<br>
         {{about.phone}}<br>
         New Albany, Indiana
      </div>
   </div>
   <div class="row main-resume">
      <div class="col-md-12 category">
         <h2 class="resume-title top-space" id="workExperience">Work Experience</h2>
         {{#each work}}
         {{#if show}}
         <div class="resume-section crunch-width">
            <h3>{{title}}</h3>
            <h4>{{company}}</h4>
            <h5>{{location}}</h5>
            <em class="date">({{from}} &ndash; {{to}})</em>
            <p class="mb-15">{{description}}</p>
         </div>
         {{/if}}
         {{/each}}
      </div>
   </div>
</div>
<div class="container">
   <div class="print-break"></div>
   <div class="print-header">
      <div class="print-header-side">
         <span class="name">{{title}}</span><br>
         <span class="tagline">{{subtitle}}</span>
      </div>
      <div class="print-header-side align-right">
         {{about.email}}<br>
         {{about.phone}}<br>
         New Albany, Indiana
      </div>
   </div>
   <div class="row main-resume">
      <div class="col-md-12 category">
         <h2 class="resume-title top-space" id="workExperience">Community Development</h2>
         {{#each community}}
         <div class="resume-section crunch-width">
            <h3>{{title}}</h3>
            <h4>{{company}}</h4>
            <em class="date">({{from}} &ndash; {{to}})</em>
            <p class="mb-15">{{description}}</p>
         </div>
         {{/each}}
      </div>
   </div>
</div>
<div class="container">
   <div class="print-break"></div>
   <div class="print-header">
      <div class="print-header-side">
         <span class="name">{{title}}</span><br>
         <span class="tagline">{{subtitle}}</span>
      </div>
      <div class="print-header-side align-right">
         {{about.email}}<br>
         {{about.phone}}<br>
         New Albany, Indiana
      </div>
   </div>
   <div class="row bottom">
      <div class="col-md-12 category">
         <h2 class="resume-title top-space" id="speaking">Speaking</h2>
         {{#each speaking}}
         <div class="resume-section crunch-width">
            <h4>{{title}}</h4>
            <p>{{description}}</p>
         </div>
         {{/each}}
      </div>
      <div class="col-md-12 category">
         <h2 class="resume-title" id="teaching">Teaching</h2>
         {{#each teaching}}
         <div class="resume-section crunch-width">
            <h4>{{title}}</h4>
            <p>{{description}}</p>
         </div>
         {{/each}}
      </div>
      <div class="col-md-12 category">
         <h2 class="resume-title" id="advocating">Advocating</h2>
         {{#each advocating}}
         <div class="resume-section crunch-width">
            <h4>{{title}}</h4>
            <p>{{description}}</p>
         </div>
         {{/each}}
      </div>
   </div>
</div>
  <footer class="footer mt-auto py-3">
    <div class="container">
      <p>&copy; <script>document.write(/\d{4}/.exec(Date())[0])</script>
 {{title}}</p>
    </div>
  </footer>

  <script src="https://www.google-analytics.com/analytics.js" async defer></script>
  <script src="js/jquery-3.5.1.min.js"></script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script src="js/main.js"></script>

</body>
</html>

